extends layout 

block content
  h1= title 

  table(style='width:100%', border='1')
    tr
      th Id 
      th Name 
      th Products 
    each category in data.category_list
      tr
        th #{category._id} 
        th #{category.name} 
        th 
          each product in category.products
            p #{product.name}

  
      
      